/*
    Styles to share across samples
 */

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  font-family:'Open Sans', 'Lucida Grande', Arial, Helvetica, sans-serif;
  margin: 0 0 0 1em;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

button {
  background-color: seagreen;
  color: white;
  cursor: pointer;
}

th, h1, b {
  color: #777777;
}

#roomUsername, #lobbyUsername {
  color: cadetblue
}

#loginPage {
  display: flex;
  flex-direction: column;
}

#roomPage {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.room-row {
  padding: 0.5em;
  background-color: #222222;
  margin-bottom: 2px;
}

.-vertical-pad {
  margin-top: 2em;
}

.max-height {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.room-header {
  display: flex;
  flex-direction: row;
}

.room-header > div {
  min-width: 10em;
}

.current-story {
  margin-left: 3em;
  margin-right: 3em;
  background-color: #444444;
  padding: 1em;
  border-radius: 0.5em;
  min-height: 4em;
}

.delete-button {
  display: inline-block;
  border: 1px solid crimson;
  color: white;
  background-color: crimson;
  padding: 0 0.3em 0 0.3em;
  border-radius: 1em;
  font-size: small;
  cursor: pointer;
}

#lobbyMessage {
  padding-top: 1em;
}

#roomList {
  background-color: #222222;
}

#playerVotesTable {
  text-align: left;
  font-size: large;
}

#playerVotesTable th {
  padding-bottom: 1em;
}

#playerVotesTable td {
  padding-bottom: 0.5em;
}

#playerVotes {
  font-weight: bold;
}

.room-player {
  color: cadetblue;
  min-width: 10em;
}

.player-vote {
  text-align: center;
}

.room-cell {
  cursor: pointer;
  padding-right: 1em;
}

.roomMain {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.-grow {
  flex-grow: 1;
}

.roomStoriesContainer {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  min-width: 19em;
}

.roomStoriesForm {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.roomStoriesForm button {
  margin-top: 1em;
  margin-right: 1em;
}

.-center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#roomPageTitleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3em;
  align-items: baseline;
}

#cards {
  border-top: 2px solid #eee;
  padding: 2em 0 2em 0;
}

#cards div {
  font-size: larger;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  border-color: goldenrod;
  background-color: #222222;
  border-style: solid;
  border-width: 2px;
  max-width: 2.5em;
  max-height: 3.5em;
  width: 2.5em;
  height: 3.5em;
  margin-bottom: 0.2rem;
}

#cards div.active {
  border-color: green;
  background-color: goldenrod;
  font-weight: bold;
}

.story-footer {
  position: relative;
  padding-top: 0.5em;
  min-height: 1.3em;
}

.story-result {
  position: absolute;
  right: 1.3em;
  max-width: 3em;
}

.selected .delete-story {
  display: inline;
}

.selected .delete-story:hover {
  color: brown;
}

.delete-story {
  display: none;
  position: absolute;
  right: 0;
  font-size: x-large;
  cursor: pointer;
}

.selected.-cards-shown .replay-story {
  display: block;
}

.selected.-can-show-cards .show-cards {
  display: block;
}

.replay-story {
  display: none;
  position: absolute;
  left: 8em;
}

.show-cards {
  display: none;
  position: absolute;
  left: 0;
}

.scrollable {
  background-color: #333333;
  overflow-y: auto;
  overflow-x: hidden;
  height: 0;
}

#roomStories {
  padding: 0 0.5em;
}

#roomStories > div {
  border-radius: 0.5em;
  margin-top: 0.5em;
  padding: 1em;
  background-color: #777777;
  border: 2px solid transparent;
}

#roomStories > div.selected {
  background-color:#555555;
  border-color: green;
}

#roomName {
  width: 20em;
}

.-warning-pulse {
  background-color: #444444;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #444444;
  }
  50% {
    background-color: goldenrod;
  }
  100% {
    background-color: #444444;
  }
}

.mdn-disclaimer {
  font-size:18px;
  background-color: #ddd;
  color: black;
  margin-left: 80px;
  margin-right: 80px;
  max-width: 620px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
}

.mdn-footer {
	font-weight:normal;
	font-size:12px;
	text-align:right;
	border-top:2px solid #000000;
}
